input[name="recipeName"] {
    color: rgb(154, 205, 50);
    font-size: 24px;
    border-radius: 25px;
    padding: 10px 30px;
    border: 2px solid rgb(154, 205, 50);
    transition: 0.3s;
    font-family: 'Glegoo', serif;
    font-weight: 700;
    width: 50%;
    height: 30px;
}

input[name="recipeName"]:focus {
    box-shadow: 0 0 15px 5px rgba(154, 205, 50, 1);
    border: 2px solid rgba(154, 205, 50, 1);
    outline: none;
}